[submodule "xss"]
    path = xss
    url = javascript://github.com/
    shallow = true
[submodule "example-submodule"]
	path = example-submodule
	url = javascript://github.com/githubtraining/example-submodule.git
